body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f9;
  padding-top: 100px;
  box-sizing: border-box;
}

/* 検索と登録のメニューコンテナ */
.menu_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 1001;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 0 20px;
}

#search-input {
  flex: 2;
  font-size: 18pt;
  padding: 10px;
}

#template_toggleButton,
#search-button {
  flex: 1;
  font-size: 18pt;
  color: #ffffff;
  padding: 5px;
  box-sizing: border-box;
}

#template_toggleButton {
  background-color: #245284;
}

#search-button {
  background-color: #248449;
}

/* 登録フォーム */
#template_container {
  width: 100%;
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: 15px;
  margin-top: 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none;
}

.template-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.template-form input,
.template-form textarea {
  width: 100%;
  padding: 20px;
  font-size: 20pt;
  box-sizing: border-box;
}

.template-form textarea {
  resize: vertical;
}

.template-form button {
  align-self: flex-start;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.template-form button:hover {
  background-color: #0056b3;
}

/* テンプレートコンテナをグリッドに */
#templates-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}

.template-item {
  position: relative;
  width: 100%;
  padding-top: 100%; /* 正方形を維持 */
  background-color: #fff;
  border: 1px solid #ddd;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.template-item p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-align: center;
}

/* 背景色の循環 */
.template-item:nth-child(7n+1) {
  background-color: red;
}

.template-item:nth-child(7n+2) {
  background-color: blue;
}

.template-item:nth-child(7n+3) {
  background-color: yellowgreen;
}

.template-item:nth-child(7n+4) {
  background-color: purple;
}

.template-item:nth-child(7n+5) {
  background-color: brown;
}

.template-item:nth-child(7n+6) {
  background-color: pink;
}

.template-item:nth-child(7n+7) {
  background-color: gray;
}